@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic font stack */
html, body, #root { height: 100%; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
